# Byte-compiled files
app/__pycache__/
*.py[cod]
*$py.class
app/.mypy_cache

# Virtual environment directory
venv/

# Pycharm files
.idea/

# Env files
.env

# Database files
dump/
*.archive
data/
mongod.lock
*.db
